body{
    overflow: hidden;
    max-width: 100vw;
}

#software-list{
    margin-bottom: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
}

#software-list .software-item:nth-child(1){
    margin-left:calc(35vw - 125px);
}

#software-list .software-item:nth-child(2){
    margin-left:calc(65vw - 132px);
}

.software-item:hover{
    transform: scale(1.2);
}

.software-item img, .software-item svg{
    max-height: 64px;

}
.software-item{
    max-height: 100%;
    transition-duration: 0.7s;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    z-index: 2;
    position: absolute;
    left: 0px;
}

.software-title{
    margin-bottom: 5em;
}

.software-item-selected{
    margin-left: 5vw!important;
    transform: scale(1.2);
}

.software-item-hidden{
    opacity: 0;
}

.software-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -5;
    transition-duration: 0.7s;
    width: 70vw;
    padding: 1.2em;
    background-color:rgb(250, 250, 250);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 20px;
    max-height:calc(85vh - 224px);
    overflow-y: auto;
}

.software-info-active{
    opacity: 1;
    margin-left: 28vw;
    z-index: 4;
}

.software-info a{
    color: blue;
}

.page-title{
    padding-top: 10vh;
}