.gs_ico {
    opacity: .55;
    display: inline-block;
    background: no-repeat url(../img/google_scholar.png);
    background-size: 169px;
    width: 21px;
    height: 21px;
}

.scholar {
    background-position: -69px -253px;
}

.linkedin {
    background-position: -69px -299px;
}

.twitter {
    background-position: -46px -299px;
}

.undergrad {
    height: 255px;
    width: 255px;
}

.no-img {
    height: 255px;
    width: 255px;
    background: url(../static/UMN_logos2_WEB-08.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: center center;
}

.nih {
    opacity: .55;
    display: inline-block;
    background: no-repeat url(../img/NIH-icon.png);
    background-size: 21px;
    width: 21px;
    height: 21px;
}

.oscar {
    opacity: .55;
    display: inline-block;
    background: no-repeat url(../img/oscar-favicon.png);
    background-size: 21px;
    width: 21px;
    height: 21px;
}